.header__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 6px;
  text-decoration: none;
  color: #FFFFFF;
}

.header__link:hover {
  opacity: 0.6;
}


@media screen and (max-width: 920px) {
  .header__link {
    margin-right: 30px;
  }
}