.photo-grid__img {
  background-color: black;
  display: block;
  height: 282px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  cursor: pointer;
}