.photo-grid__counter {
  margin: 3px 5px 0 10px;
  width: 22px;
  height: 13px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000000; 
}