.profile {
  display: flex;
  justify-content: space-between;
  min-height: 120px;
  padding: 40px 0 51px;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 920px) {
  .profile {
    padding: 42px 19px 36px;
  }
}

@media screen and (max-width: 700px) {
  .profile {
    flex-direction: column;
    min-height: 286px;
  }
}